<div class="jumbotron">
  <div class="container">
  <h1>About Oh Cinema!</h1>
  <p>Browse throught our amazing collection of movies from all over the world & Sign up for an account to hear about our latest great deals and offers</p>
  <p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
  </div>
</div>

<div class="container">

  <div class="about"><h1>Find us in store</h1>
    <p>In addition to our online store we have a store located in the heart of Dublin city centre. Whether you're a local or just visting, drop in. </p>
    <p>You can find us at:</p>
    <h3>17/19 Wexford Steet, Dublin 2</h3>
    <h3>Opening Hours</h3>
    <p>Monday - Fri: 09:00 - 17:00</p>
    <p>Saturday: 10:00 - 20:00</p>
    <p>Sunday: 10:00 - 17:0</p>
  </div>

  <div class="about2">
    <div class="row">
      <div class="col-sm-6">
       <h3>Email: enquiries@ohcinema.com</h3>
      </div>
      <div class="col-sm-6">
        <h3>Phone: (353) 555-6767</h3>
      </div>
    </div>
  </div>


</div>

