<div class="container">
<h1>Your Cart</h1>

<% if @cart.empty? %>
    <h3>Your Cart is empty.<h3>
<% else %>

<% total = 0 %>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3>Items in your cart</h3></div>
	
      <table class="table">
        <tr>
          <td class="legend"></td>
          <td class="legend">Item</td>
          <td class="legend">Price</td>
          <td class="legend">Qty</td>
          <td class="legend">Total</td>
        </tr>

    <% @cart.each do | id, quantity | %>
        <% item = Item.find_by_id(id) %>
        <tr>
          <td>
            <div class="image">
                    <%= (image_tag item.image_url, :style => "height:200px") %>
            </div>
          </td>
          <td class="title"><h4><%= item.title  %></h4></td>
          <td class="price"><%= number_to_currency(item.price) %></td>
          <td class="quantity"><%= quantity %><br /></td>
          <td class="price">
            <%= number_to_currency(quantity * item.price, :unit => "£") %>
          </td>
        </tr>
        <% total += quantity * item.price %>
    <% end %>

        <tr>
          <td colspan="4">
            <div class="total">Total:</div>
          </td>
          <td>
            <div class="price"><%= number_to_currency(total, :unit => "€") %></div>
          </td>
        </tr>
      </table>
      
  </div>

<% end %>

    <button type="button" class="btn btn-default"><%= link_to 'Continue Shopping', :controller => :items %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Clear Cart', cart_clear_path %></button>
              <!-- Trigger the modal with a button -->
                  <button type="button" class="btn btn-info primary" data-toggle="modal" data-target="#myModal">PROCEED TO CHECKOUT</button>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Opps! Not me again!</h4>
                        </div>
                        <div class="modal-body">
                          <p>Unforunately this action can not be completed at this time.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
</div>

</div>
