
<div class="container">
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      </section>
       <section class="links_info">
      <p>
       <%= link_to 'Continue Shopping', :controller => :items %> |  <%= link_to 'View Cart', :controller => :cart %> 
      </p>
      <p>
      
      </p>
       
    </section>
  </aside>
  
</div>
</div>