<div class="jumbotron">
  <div class="container">
  
    <img alt="Oh Cinema" src="../assets/logo.png">
  <!--<h1>Welcome to Oh Cinema!</h1>-->
  <h2>Amazing Movies. Amazing Prices</h2>
  
  <p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
  </div>
</div>

<p id="notice"><%= notice %></p>


<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading"><h3>Catalogue</h3></div>

<table class="table">


<% @items.each do |item| %>
  <tr>
    <td>
        <div class="image">
            <%= (image_tag item.image_url, :style => "height:300px") %>
        </div>
    </td>
    <td>
        <div class="title">
            <h2><%= item.title %></h2>
        </div>
         <div class="info">
            Director: <%= item.director %>
       
            Genre: <%= item.genre  %>
       
            Country: <%=  item.country %>
        </div>
        
        <div class="description">
            <%=h item.description %>
        </div>
        <div class="price">
           <h4>Price: <%= number_to_currency(item.price, :unit => "€") %></h4>
        </div>
        <div class="links">
            <% if logged_in? == true %>
              <a href="/cart/<%= item.id %>" class="btn btn-primary" role="button">Add to Cart</a><br><br>
            
              <% else %>
              
              <!-- Trigger the modal with a button -->
                  <button type="button" class="btn btn-info primary" data-toggle="modal" data-target="#myModal">Add to Cart</button>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Login required to complete this action</h4>
                        </div>
                        <div class="modal-body">
                          <p>You must be logged into your <i>Oh Cinema!</i> account to add products to your basket. Don't worry, <%= link_to "You can login here.", login_path %></p>
                          <p>Not a user? <%= link_to "Sign up now! It only takes a second", signup_path %></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

            <% end %>

        </div>
    </td>
  </tr>

<% end %>
</table>
  
  
</div>
</div>
