@import "bootstrap-sprockets";
@import "bootstrap";
// google fonts
@import url(http://fonts.googleapis.com/css?family=Questrial);

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background-color: #ddd;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Questrial', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

 a:hover {
   text-decoration: none;
   background-color: none;
 }
 
/* jumbotron */
.jumbotron {
 background: radial-gradient(#FF3300, #F15A24); /* Standard syntax */
  text-align: center;
  
  .btn {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 22px;
  }
  a.btn:hover {
    color: #ddd;
    border: 2px solid #ddd;
    padding: 12px 22px;
  }
  .container {
  background-color: none;
  
    h1 {
      color: #fff;
      margin-bottom: 0px;
      
    }
    h2 {
      color: #dddddd;
      padding-bottom: 5px;
    }
      h3 {
      color: #dddddd;
      padding-bottom: 5px;
    }
    p {
      color: #aaa;
    }
  }
}

div.about {
  text-align:center;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}
div.about2 {
  text-align:center;
  color: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 25px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  background-color: #555;
}

.table tr {
  border: 2px solid #555;
}

div.image{
  padding: 5px;
img {
    display: block;
    margin-left: auto;
    margin-right: auto 
 }
}


div.info{
  padding-bottom: 10px;
}
div.description {
  padding-right: 10px;
}

.panel {
  border-color: #ddd;
  background-color: #ddd;
  
  .panel p {
    color: #fff;
  }
  
  .btn {
    background: none;
    color: #FF3300;
    border: 2px solid #FF3300;
  }
  a.btn:hover {
    background: none;
    color: #a00;
    border: 2px solid #a00;
  }
  
  .panel-heading {
    background-color: #555;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

#footer {
  text-align: center;
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
     
    
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.7em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 20px;
  
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.navbar{
  margin:0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
}

.navbar-brand{
  padding-top: 0px;
}

