<!-- menu code -->
<nav class="navbar navbar-inverse">    
    <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
				<a class="navbar-brand" href="/items"><img alt="Oh Cinema" src="../assets/brand.png"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to '<i class="glyphicon glyphicon-home"></i> Home'.html_safe,    items_path %></li>
				<li><%= link_to '<i class="glyphicon glyphicon-shopping-cart"></i> Basket'.html_safe, cart_path %></li>
				<li><%= link_to '<i class="glyphicon glyphicon-info-sign"></i> About'.html_safe,    about_path %></li>
			
			<!-- menu appears different dependng on whether you are logged in or not -->
			<% if logged_in? %>
		      	<li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Logout'.html_safe, logout_path, method: "delete" %></li>
			<% else %>
            <li><%= link_to '<i class="glyphicon glyphicon-log-in"></i> Login'.html_safe, login_path %></li>
      <% end %>
		  	  </ul>
		</div>
	 </div><!-- /.container-fluid -->
</nav>