<!DOCTYPE html>
<html>
<head>
  <title>Oh Cinema!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'ohicon.png' %>
</head>

<body>
	<%= render 'layouts/header' %>
	
 
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
      
   	<%= yield %>
   	
 	
 	<%= render 'layouts/footer' %>
 
</body>
</html>
